body {
  display: grid;
  grid-template-columns: 20% 80%;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap:20px
}

.logo > img {
  width: 75%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap:50px;
  align-items: center;
  margin-left: 20px;
}

.productBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 450px;
  border: 2px solid black;
  border-radius: 5px;
}
.productBlock:hover {
background-color: rgb(241, 239, 235);
transform: scale(1.1);
}

.productBlock > img {
  width: 70%;
}

